<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apache</title>

    <style>
        div {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 80%;
            height: 40%;
            text-align: center;
            font: 5em "Segoe UI";
            font-weight: 200;
        }
    </style>

</head>
<body>
    <div>
        Welkom bij <br/>{{ ansible_hostname }}
    </div>
</body>
</html>
